.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~ .lista-menu{
    display: block;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo{
    background: var(--azul-degrade);
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item-link{
    text-decoration: none;
    color: var(--azul-degrade);
    text-transform: uppercase;
}

.container__botao, .container__titulo, .opcoes, .container__texto {
    display: none;
}

@media screen and (min-width: 1024px){
    .cabecalho__menu-hamburguer{
        display: none;
    }
    
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    
    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    /* comparar essa parte */
    .opcoes__item{
        padding: 1em 2em;
        text-transform: uppercase;
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:active{
        color: var(--laranja);
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente{
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho{
        padding: 0 2em;
    }
    
    .container__imagem{
        padding: 0.3em;
    }

    .opcoes{
        margin-right: auto;
        padding: inherit;
    }

    .opcoes__item{
        padding: 1em 2.2em 1em;
    }

    .container__texto{
        display: block;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }  

    .container__link:hover{
        color: var(--laranja);
    }
    
    .container__link:active{
        color: var(--cinza);
    }
}